/* semantic color variables for this project */
:root {
  --color-background: #252525;
  --color-background-soft: #404040;
  --color-background-contrast: #757575;
  
  --color-darker-than-dark: #202020;

  --color-accent-highlited: #DCFD82;
  --color-accent-regular: #A0BD53;
  --color-accent-pressed: #7D8E4D;
  --color-accent-disabled: #52593F;

  --color-white: #ccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
