@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
